<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 새로운 카트 추가 -->
	<entry key="newInsertSC">
		insert into shopping_cart(cart_id,member_no,product_no,quantity) values(SEQ_SCNO.NEXTVAL,?,?,?)
	</entry>
	
	<!-- 카트 추가 -->
	<entry key="insertSC">
		INSERT INTO SHOPPING_CART(CART_ID,MEMBER_NO,PRODUCT_NO,QUANTITY) 
		VALUES((SELECT DISTINCT CART_ID FROM SHOPPING_CART WHERE MEMBER_NO = ?),?,?,?)
	</entry>
	
	<!-- 카트 같은 물품 확인 -->
	<entry key="selectCart">
		SELECT * 
		FROM SHOPPING_CART
		WHERE MEMBER_NO = ?
		AND PRODUCT_NO = ?
	</entry>
	
	<!-- 카트에 이미 있는지 확인 -->
	<entry key="selectUserCart">
		SELECT * 
		FROM SHOPPING_CART
		WHERE MEMBER_NO = ?
	</entry>
	
	<!-- 카트 체크 삭제 -->
	<entry key="delChecked">
		DELETE
		FROM SHOPPING_CART
		WHERE PRODUCT_NO = ?
		AND MEMBER_NO = ?
	</entry>
	
	<!-- 카트 비우기 -->
	<entry key="delAll">
		DELETE
		FROM SHOPPING_CART
		WHERE MEMBER_NO = ?
	</entry>
	
	<!-- 카트 수량 증가 -->
	<entry key="plusQty">
		UPDATE SHOPPING_CART
		SET QUANTITY = QUANTITY + ?
		WHERE CART_ID = ?
		AND PRODUCT_NO = ?
	</entry>
	
	<!-- 카트 수량 업데이트 -->
	<entry key="updateQty">
		UPDATE SHOPPING_CART
		SET QUANTITY = ?
		WHERE PRODUCT_NO = ?
		AND MEMBER_NO = ?
	</entry>
	
	<!-- 카트 목록 -->
	<entry key="selectCartList">
		SELECT CART_ID,PRODUCT_NO,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_SALES_RATE,PRODUCT_STOCK,QUANTITY,(ATTACHMENT_PATH||ATTACHMENT_CHANGE) TITLE_IMG
		FROM SHOPPING_CART S
		JOIN PRODUCT P USING (PRODUCT_NO)
        JOIN ATTACHMENT A ON (PRODUCT_NO=BOARD_NO)
		WHERE P.STATUS = 'Y'
        AND FILE_LEVEL = 1
		AND MEMBER_NO = ?
	</entry>
	
</properties>