<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
		
	<!-- 주문db에 입력 -->
	<entry key="insertChecked">
		INSERT INTO P_ORDER(ORDER_NO, MEMBER_NO, PRODUCT_NO, QUANTITY)
		SELECT CART_ID,MEMBER_NO,PRODUCT_NO,QUANTITY
		FROM SHOPPING_CART
		WHERE PRODUCT_NO = ?
		AND MEMBER_NO = ?
	</entry>
	
	<!-- 주문db에 모두 입력 -->
	<entry key="orderAllInsert">
		INSERT ALL INTO P_ORDER(ORDER_NO, MEMBER_NO, PRODUCT_NO, QUANTITY)        
		SELECT CART_ID,MEMBER_NO,PRODUCT_NO,QUANTITY
		FROM SHOPPING_CART
		WHERE CART_ID = ?
		AND MEMBER_NO = ?  
	</entry>
	
	<!-- 주문db에 한개 입력 -->
	<entry key="directInsert">
		INSERT INTO P_ORDER(ORDER_NO, MEMBER_NO, PRODUCT_NO, QUANTITY)
		VALUES (SEQ_SCNO.NEXTVAL,?,?,1)
	</entry>
	
	<!-- 주문db 삭제 -->
	<entry key="deleteOrder">
		DELETE FROM P_ORDER
		WHERE MEMBER_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- 주문상품 조회 -->
	<entry key="selectList">
		SELECT DISTINCT ORDER_NO,PRODUCT_NO,MEMBER_NO,PRODUCT_NAME,(PRODUCT_PRICE-PRODUCT_PRICE*(PRODUCT_SALES_RATE/100)) PRICE,QUANTITY,PRODUCT_PUBLISHER,MEMBER_NAME,PHONE,EMAIL,ADDRESS,MEMBER_POINT,(ATTACHMENT_PATH||ATTACHMENT_CHANGE) TITLE_IMG
		FROM P_ORDER O
		JOIN MEMBER M USING(MEMBER_NO)
		JOIN PRODUCT P USING(PRODUCT_NO)
		JOIN ATTACHMENT A ON (PRODUCT_NO=BOARD_NO)
		WHERE O.STATUS = 'Y'
        AND FILE_LEVEL = 1 
		AND MEMBER_NO = ?
	</entry>
	
	<!-- 결제정보 입력 -->
	<entry key="orderPayment">
		INSERT INTO PAYMENT(PAYMENT_NUMBER, ORDER_NO, MEMBER_NO, PRODUCT_NO, PAYMENT, ORDER_REQUEST, BANK_NAME, DEPOSIT_NAME, USE_POINT, ADDRESS_NAME, PHONE, EMAIL, POST, ROAD_ADDRESS, DETAIL_ADDRESS, DELIVERY_COST)
		VALUES((SELECT TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(TRUNC(DBMS_RANDOM.VALUE(0, 99999)), 5, '0') AS RANDOM_NUM FROM DUAL),?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
	</entry>
	
	<!-- 카드결제정보 입력 -->
	<entry key="orderCard">
		INSERT INTO PAYMENT(PAYMENT_NUMBER, ORDER_NO, MEMBER_NO, PRODUCT_NO, PAYMENT, ORDER_REQUEST, USE_POINT, ADDRESS_NAME, PHONE, EMAIL, POST, ROAD_ADDRESS, DETAIL_ADDRESS, DELIVERY_COST)
		VALUES((SELECT TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(TRUNC(DBMS_RANDOM.VALUE(0, 99999)), 5, '0') AS RANDOM_NUM FROM DUAL),?,?,?,?,?,?,?,?,?,?,?,?,?)
	</entry>
	
	<!-- 주문관리 리스트 조회(관리자) -->
	<entry key="selectOrderAdmin">
		SELECT ORDER_NO,MEMBER_NAME,CREATED_AT,PAYMENT,ORDER_REQUEST,ADDRESS_NAME,ROAD_ADDRESS,DETAIL_ADDRESS,CHECK_PAY
		FROM PAYMENT PAY
		JOIN MEMBER USING (MEMBER_NO)
	</entry>
	
	<!-- 주문관리 상세조회 (관리자) -->
	<entry key="detailOrderAdmin">
		SELECT ORDER_NO,MEMBER_NAME,PRODUCT_NAME,CREATED_AT,PAYMENT,ORDER_REQUEST,BANK_NAME,DEPOSIT_NAME,USE_POINT,ADDRESS_NAME,PAY.PHONE,PAY.EMAIL,ROAD_ADDRESS,DETAIL_ADDRESS,DELIVERY_COST,CHECK_PAY
		FROM PAYMENT PAY
		JOIN MEMBER M USING (MEMBER_NO) 
		JOIN PRODUCT P USING (PRODUCT_NO)
		WHERE ORDER_NO = ?
	</entry>
	
	<!-- 주문번호로 회원조회(관리자) - 적립금 -->
	<entry key="chkMemberNoAdmin">
		SELECT MEMBER_NO
		FROM P_ORDER
		WHERE ORDER_NO = ?
	</entry>
	
	<!-- 결제상태 변경(관리자) - 'Y' -->
	<entry key="chkPayUpdateAdmin">
		UPDATE PAYMENT
		SET CHECK_PAY = 'Y'
		WHERE ORDER_NO = ?
	</entry>
	
	<!-- 결제상태 변경(관리자) - 'S' -->
	<entry key="chkPayUpdate2Admin">
	UPDATE PAYMENT
	SET CHECK_PAY = 'S'
	WHERE ORDER_NO = ?
	</entry>
	
	<!-- 주문완료시 주문 상태 변경 -->
	<entry key="completeOrder">
		UPDATE P_ORDER
		SET STATUS = 'N'
		WHERE MEMBER_NO = ?
	</entry>
	
	<!-- 주문완료 조회 -->
	<entry key="paymentSelect">
		SELECT *
		FROM PAYMENT
		WHERE ORDER_NO = ?
	</entry>
</properties>