/* ========================= <  main_category영역 > ========================= */

/* ========== 아이콘 ========== */
#mc_img{
    margin-right: 15px;
    vertical-align: middle;
}

#mc_img2{
    margin-right: 15px;
    margin-left: 15px;
    vertical-align: middle;
}

#mc_img3{
    float: right;
    margin-right: 15px;
    vertical-align: middle;
}

#mc_btn{
    margin-right: 60px;
    vertical-align: middle;
}

#mc_btn2{
    margin-right: 15px;
    vertical-align: middle;
}

#mc_btn3{
    margin-right: 13px;
    vertical-align: middle;
}

*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

a{
    color: white;
}

.wrap{
    position: relative;
    width: 1400px;
    height: 2420px;
    margin-left: 249px;
    margin-right: 0px;
    display: block;
  }

.main_category{
    background-color: rgb(52, 52, 52);
    width: 245px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 1405px;
    z-index: 10;
}

#mc_admin_detail{
    margin-top: 2px;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}

#mc_admin{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 4px;
}

.main_category ul>li{
    margin-top: 50px;
}

#mc_admin_logout{
    margin-top: 0;
    margin-bottom: 6px;
}

#mc_admin_logout>button{
    font-size: 11px;
}

/* ==================== navi관련 ==================== */

.main_category>ul>li>ul{
    font-size: 15px;
    display: none;
    overflow: hidden;
}

#mc_navi a{
    display: block;
    width: 100%;
    height: 100%;
}

.main_category>ul>li>ul a:hover{
    background-color: rgba(0, 0, 0, 0.347);
    border-radius: 5px;
    margin: 5px 5px;
}

.main_category>ul>li>ul>li {
    height: 30px;
    margin: 30px;
    margin-bottom: 0px;
}

.main_category>ul>li>ul a{
    line-height: 30px;
}

.main_category ul>li{ 
    text-shadow: 2px 3px  black;
}

.main_category a{
    display: block;
    width: 100%;
}

.main_category ul>li{
    color: white;
    cursor: pointer;
}

.main_category>ul button{
    color: white;
    border: none;
    font-size: 18px;
    text-shadow: 2px 3px  black;
    background-color: transparent;
    cursor: pointer;
}

/* ===== 위로가기 버튼 ===== */
#scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 11;
}