<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 도서등록 -->
	<entry key="insertProduct">
		INSERT INTO PRODUCT(PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
                    AUTHOR,PRODUCT_PRICE,PRODUCT_SALES_RATE,PRODUCT_STOCK,PRODUCT_TEXT)
		VALUES (SEQ_PNO.NEXTVAL,?,?,?,?,?,?,?,?)
	</entry>
	
	<!-- 상품등록 -->
	<entry key="insertProductItem">
		INSERT INTO PRODUCT(PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,PRODUCT_PRICE,
							PRODUCT_SALES_RATE,PRODUCT_STOCK,PRODUCT_TEXT)
		VALUES (SEQ_PNO.NEXTVAL,?,?,?,?,?,?,?)
	</entry>
	
	<!-- 첨부파일 넣기 -->
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(ATTACHMENT_ID,BOARD_NO,ATTACHMENT_NAME,
								ATTACHMENT_CHANGE,ATTACHMENT_PATH,FILE_LEVEL)
		VALUES (SEQ_ANO.NEXTVAL,SEQ_PNO.CURRVAL,?,?,?,?)
	</entry>
	
	<!-- 페이징 처리 한 도서리스트 -->
	<entry key="selectAttachmentList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		        FROM(SELECT PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
		            PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		            AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		            FROM PRODUCT
		            JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
		            ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 페이징 처리 한 도서리스트 카테고리-->
	<entry key="selectAttachmentListC">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		        FROM(SELECT PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
		            PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		            AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		            FROM PRODUCT
		            JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (?)
		            ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 페이징 처리 한 베스트도서리스트 -->
	<entry key="selectBestAttachList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		      FROM(SELECT O.PRODUCT_NO,P.PRODUCT_CATEGORY,P.PRODUCT_NAME,P.PRODUCT_PUBLISHER,
		                    P.PRODUCT_TEXT,P.PRODUCT_PRICE,P.PRODUCT_SALES_RATE,P.AUTHOR,
		                    P.CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG",SUM(QUANTITY) "QUANTITY"
		            FROM P_ORDER O
		            JOIN PRODUCT P ON (O.PRODUCT_NO=P.PRODUCT_NO)
		            JOIN ATTACHMENT A ON (O.PRODUCT_NO=A.BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
		            GROUP BY O.PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,PRODUCT_TEXT,PRODUCT_PRICE,
		                    PRODUCT_SALES_RATE,AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE
		            ORDER BY "QUANTITY" DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 페이징 처리 한 신간도서리스트 -->
	<entry key="selectNewAttachList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		        FROM(SELECT PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
		            PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		            AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		            FROM PRODUCT
		            JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
                    WHERE CREATE_DATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-3),'yyyy-mm-dd') AND TO_CHAR(SYSDATE)
		            ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 페이징 처리 한 쇼핑상품리스트 -->
	<entry key="selectAttachmentListP">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		        FROM(SELECT PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
		            PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		            AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		            FROM PRODUCT
		            JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (7)
		            ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 도서상품리스트 -->
	<entry key="selectItem">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
				FROM(SELECT PRODUCT_NO,PRODUCT_NAME,PRODUCT_PUBLISHER,
		       		   		PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		      	 	   		CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
					FROM PRODUCT
					JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
					AND STATUS = 'Y'
					AND FILE_LEVEL = '1'
					AND PRODUCT_CATEGORY = '7'
					ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 도서 리스트 수 -->
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM PRODUCT
		WHERE STATUS = 'Y'
		AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
	</entry>
	
	<!-- 도서 카테고리별 리스트 수 -->
	<entry key="selectProCListCount">
		SELECT COUNT(*) COUNT
		FROM PRODUCT
		WHERE STATUS = 'Y'
		AND PRODUCT_CATEGORY = ?
	</entry>
	
	<!-- 상품 리스트 수 -->
	<entry key="selectProListCount">
		SELECT COUNT(*) COUNT
		FROM PRODUCT
		WHERE STATUS = 'Y'
		AND PRODUCT_CATEGORY IN (7)
	</entry>
	
	<!-- 상세정보 이미지 있는 상품 상세 정보 -->
	<entry key="productDetail">
		SELECT PRODUCT_NO,PRODUCT_NAME,PRODUCT_PUBLISHER,PRODUCT_TEXT,PRODUCT_PRICE,
        PRODUCT_SALES_RATE,AUTHOR,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		FROM PRODUCT
        JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		WHERE STATUS = 'Y'
        AND FILE_LEVEL = 1
		AND PRODUCT_NO = ?
	</entry>
	<!-- 상세정보 이미지의 상세 이미지 -->
	<entry key="productDetail2">
		SELECT ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		FROM PRODUCT
        JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		WHERE STATUS = 'Y'
        AND FILE_LEVEL = 2
		AND PRODUCT_NO = ?
	</entry>
	<!-- 메인페이지 신간 도서 리스트 4개 -->
	<entry key="newBookList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		      FROM(SELECT PRODUCT_NO,PRODUCT_NAME,PRODUCT_PUBLISHER,
		                  PRODUCT_PRICE,PRODUCT_SALES_RATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		           FROM PRODUCT
		           JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		           WHERE STATUS = 'Y'
		           AND FILE_LEVEL = 1
		           AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
		           ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN 1 AND 4
	</entry>
	<!-- 메인페이지 상품 리스트 -->
	<entry key="newProList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		      FROM(SELECT PRODUCT_NO,PRODUCT_NAME,PRODUCT_PUBLISHER,
		                  PRODUCT_PRICE,PRODUCT_SALES_RATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		           FROM PRODUCT
		           JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		           WHERE STATUS = 'Y'
		           AND FILE_LEVEL = 1
		           AND PRODUCT_CATEGORY = 7
		           ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN 1 AND 4
	</entry>
	
<entry key="selectAdminProduct">
	SELECT *
	FROM PRODUCT
	ORDER BY PRODUCT_NO DESC
</entry>

<entry key="detailAdminProduct">
	SELECT *
	FROM PRODUCT
	WHERE PRODUCT_NO = ?
</entry>

</properties>